<!DOCTYPE html>
<html>
<head>
    <title>Recipe App</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    {{{body}}}
</body>

<script src="/public/javascript.js" script></script>
</html>
