<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/style.css">
    </head>
<body>
    <header>
        <h1>HOMEPAGE</h1>
        
        <nav>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/myRecipes">Search Recipes</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>

<script src="/public/javascript.js" script></script>
</html>