    <body>     
        <div class="container">
            <h1>User Profile</h1>
            <div class="profile">
                <img class="profile-picture" src="/public/img/prost.jpg" alt="Profile Picture">
                <h2></h2>
                <p>Email: msmorrow6109@gmail.com</p>
                <p>Location: Portland, OR</p>
                <form >
                    <label for="interests">Interests:</label><br>
                    <input type="text" id="interests" name="interests" placeholder="Enter your interests"><br>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </body>

    <footer>
        <p>© 2024 Culinary Crafters</p>
    </footer>
    
    </html>