body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff5d7;
    color: #fff5d7;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #333;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 40px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff5e6c;
    border: 1px solid #1c0506;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }

  .button:hover {
    background-color: #031930;
    cursor: pointer;
  }
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 200px;
    height: 200px;
}