/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff5d7;
    color: #fff5d7;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #333;
}

/* Header */
header {
    background-color: #fff5d7;
    color: #031930;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Navigation */
nav {
    background-color: #ff5e6c;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ecf0f1;
}

/* Forms */
form {
    margin: 20px 0;
}

form input[type="text"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #164565;
}

/* Recipe Cards */
.recipe-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.recipe-card img {
    width: 100%;
    height: auto;
}

.recipe-card .recipe-info {
    padding: 20px;
}

.recipe-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Comments */
.comment {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment p {
    margin-bottom: 5px;
}

/* Footer */
footer {
    background-color: #fff5d7;
    color: #1c0506;
    text-align: center;
    padding: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff5e6c;
    border: 1px solid #1c0506;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }

  .button:hover {
    background-color: #031930;
    cursor: pointer;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
}